<p class="text-2xl font-sans font-bold mt-4 text-center border-slate-900">Bookmark Manager</p>
<div class="w-4/5 mx-auto flex justify-between mt-8">
  <div>
    <!-- <p *ngFor="let category in Categories">Hello</p> -->
    <app-category-module (details)="details($event)" [Categories]="Categories" [localArray]="localArray" [buttonText]="buttonText" [GroupByCategory]="GroupByCategory"></app-category-module>
  </div>


  <div>
    <!-- <app-button data-modal-target="popup-modal" data-modal-toggle="popup-modal" [buttonText]="buttonText.addBookmark"></app-button> -->
    <app-modal id="popup-modal" [Categories]="Categories" (getFormVal)="getFormVal($event)"></app-modal>

    <div class="bg-slate-300 h-56 w-80 mt-4 pl-2 pt-2">
      <p><span>Title: </span> <span>{{this.itemTitle}}</span></p>
      <p><span>URL: </span> <span>{{this.itemURL}}</span></p>
      <p><span>Category: </span> <span>{{this.itemCategory}}</span></p>
    </div>
  </div>
  
</div>
